@charset "UTF-8";
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

input,
select,
button {
  outline: none;
}

body {
  background-color: #fff;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #e0e0e0;
  z-index: 1001;
}
.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 4%;
  max-width: 1600px;
  margin: auto;
  min-height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
@media (max-width: 400px) {
  header {
    min-height: 70px;
    padding: 0 10px;
  }
}
@media (max-width: 1000px) {
  header a.logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
header a.logo:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
header .toggle {
  display: none;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 16px;
  padding-right: 12px;
}
@media (max-width: 1000px) {
  header .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header .toggle:hover span {
  background-color: #4CB649;
}
header .toggle span {
  width: 24px;
  height: 2px;
  background-color: #22252e;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 1000px) {
  header nav {
    display: none;
  }
}
header nav a {
  font-family: "Roboto-Medium";
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
  cursor: pointer;
  position: relative;
}
header nav a:after {
  content: "";
  background-color: #4CB649;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -6px;
  opacity: 0;
}
header nav a:hover:after {
  opacity: 1;
}
header .command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
header .command a {
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  font-size: 14px;
  min-width: 160px;
  font-family: "Roboto-Regular";
  color: white;
  text-align: center;
  background: #4db94a;
  background: -webkit-gradient(linear, left bottom, left top, from(#4db94a), to(#5ddf5a));
  background: -o-linear-gradient(bottom, #4db94a 0%, #5ddf5a 100%);
  background: linear-gradient(0deg, #4db94a 0%, #5ddf5a 100%);
}
@media (max-width: 400px) {
  header .command a {
    min-width: 126px;
  }
}
header .command a:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
header .command a:first-child {
  color: #4CB649;
  border: 1px solid #4CB649;
  background: none;
}
@media (max-width: 1000px) {
  header .command a:first-child {
    display: none;
  }
}

.page {
  max-width: 1600px;
  padding: 0 12.5%;
  margin: auto;
  overflow: hidden;
}
@media (max-width: 400px) {
  .page {
    padding: 0 20px;
  }
}
.page .banner {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #D7D8D9;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}
.page .banner:hover img {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.page .banner__pic {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.page .banner__pic img {
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: case 10s infinite alternate cubic-bezier(0.46, 0.2, 0.44, 0.71);
          animation: case 10s infinite alternate cubic-bezier(0.46, 0.2, 0.44, 0.71);
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.page .banner__caption {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 100px;
}
@media (max-width: 400px) {
  .page .banner__caption {
    padding: 15px 30px;
    row-gap: 25px;
  }
}
.page .banner__caption p {
  font-family: "Roboto-Light";
  font-size: 24px;
}
@media (max-width: 400px) {
  .page .banner__caption p {
    padding-top: 15px;
  }
}
.page .banner__caption .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
@media (max-width: 400px) {
  .page .banner__caption .info {
    row-gap: 13px;
  }
}
.page .banner__caption .info__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 400px) {
  .page .banner__caption .info__top {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
.page .banner__caption .info__top .name {
  color: #323642;
  font-family: "Roboto-Regular";
  font-size: 14px;
}
.page .banner__caption .info__top .date, .page .banner__caption .info__top .border {
  color: #889099;
  font-family: "Roboto-Regular";
  font-size: 14px;
}
.page .banner__caption .info__middle {
  color: #4CB649;
  font-size: 12px;
  font-family: "Roboto-Regular";
  text-transform: uppercase;
}
.page .banner__caption .info__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.page .banner__caption .info__bottom span {
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: #889099;
}
.page .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 2.5%;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0;
  row-gap: 35px;
  background-color: #F7F7F7;
  border-radius: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1250px) {
  .page .tags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 400px) {
  .page .tags {
    display: none;
  }
}
.page .tags__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page .tags__left a {
  color: #4CB649;
  font-size: 14px;
  font-family: "Roboto-Medium";
  text-transform: uppercase;
}
.page .tags__left a:hover {
  color: #323642;
}
.page .tags__left a:first-child {
  color: #323642;
  cursor: text;
  margin-right: 10px;
}
.page .tags__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page .tags__right a {
  font-size: 14px;
  font-family: "Roboto-Medium";
  text-transform: uppercase;
  color: #323642;
}
.page .tags__right a:hover {
  color: #4CB649;
}
.page main {
  margin: 10px 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
}
@media (max-width: 1250px) {
  .page main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 45px;
    margin: 40px 0 70px 0;
  }
}
@media (min-width: 400px) {
  .page main {
    padding: 0 10px;
  }
}
.page main .posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  -ms-flex-preferred-size: 65.3%;
      flex-basis: 65.3%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.page main .posts h1 {
  font-family: "Roboto-Light";
  font-size: 32px;
  color: #22252E;
}
.page main .posts__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
@media (max-width: 400px) {
  .page main .posts__ul {
    row-gap: 22px;
  }
}
.page main .posts__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 35px;
  border-bottom: 1px solid #EBECED;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 400px) {
  .page main .posts__li {
    row-gap: 20px;
    padding-bottom: 22px;
  }
}
.page main .posts__li .picture {
  overflow: hidden;
  max-height: 180px;
  min-width: 215px;
  -ms-flex-preferred-size: 37.2%;
      flex-basis: 37.2%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 400px) {
  .page main .posts__li .picture {
    max-height: 400px;
  }
}
.page main .posts__li .picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -webkit-animation: case 15s infinite alternate cubic-bezier(0.46, 0.2, 0.44, 0.71);
          animation: case 15s infinite alternate cubic-bezier(0.46, 0.2, 0.44, 0.71);
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.page main .posts__li:hover .picture {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.page main .posts__li:hover img {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.page main .posts__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -ms-flex-preferred-size: calc(62.8% - 40px);
      flex-basis: calc(62.8% - 40px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.page main .posts__caption p {
  font-family: "Roboto-Light";
  font-size: 24px;
  color: #22252e;
  white-space: pre-line;
}
.page main .posts__caption .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 400px) {
  .page main .posts__caption .info {
    row-gap: 12px;
  }
}
.page main .posts__caption .info__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.page main .posts__caption .info__top .name {
  color: #323642;
  font-family: "Roboto-Regular";
  font-size: 14px;
}
.page main .posts__caption .info__top .date, .page main .posts__caption .info__top .border {
  color: #889099;
  font-family: "Roboto-Regular";
  font-size: 14px;
}
.page main .posts__caption .info__middle {
  color: #4CB649;
  font-size: 12px;
  font-family: "Roboto-Regular";
  text-transform: uppercase;
}
.page main .posts__caption .info__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.page main .posts__caption .info__bottom span {
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: #889099;
}
.page main .posts__older {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.page main .posts__older a {
  min-width: 260px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #4CB649;
  color: #4CB649;
  font-size: 14px;
  font-family: "Roboto-Medium";
  border-radius: 30px;
  text-transform: uppercase;
}
@media (max-width: 400px) {
  .page main .posts__older a {
    min-width: 315px;
  }
}
.page main .posts__older a:hover {
  background: #4CB649;
  color: white;
  border-color: white;
}
.page main aside {
  border-left: 1px solid #EBECED;
  padding-left: 60px;
  -ms-flex-preferred-size: 34.7%;
      flex-basis: 34.7%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1250px) {
  .page main aside {
    border: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}
.page main aside .tag-cloud,
.page main aside .big-bro,
.page main aside .popular-post,
.page main aside .announcements {
  padding: 30px 0;
}
@media (max-width: 1250px) {
  .page main aside .tag-cloud,
.page main aside .big-bro,
.page main aside .popular-post,
.page main aside .announcements {
    max-width: 340px;
  }
}
.page main aside .tag-cloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.page main aside h2 {
  font-family: "Roboto-Light";
  font-size: 24px;
  color: #22252e;
}
.page main aside .big-bro img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  position: center;
}
.page main aside .popular-post,
.page main aside .announcements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  border-bottom: 1px solid #EBECED;
}
.page main aside .popular-post__title,
.page main aside .announcements__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.page main aside .popular-post ol,
.page main aside .announcements ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}
.page main aside .popular-post li,
.page main aside .announcements li {
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: #22252e;
  white-space: pre-line;
}
.page main aside .popular-post li:before,
.page main aside .announcements li:before {
  content: "•";
  color: #4CB649;
  font-size: 14px;
  padding-right: 5px;
}
.page main .input {
  position: relative;
}
.page main .input svg {
  position: absolute;
  left: 20px;
  height: 100%;
}
.page main .input input {
  min-width: 340px;
  height: 60px;
  border: 1px solid #D7D8D9;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Roboto-Light";
  padding-left: 60px;
}
.page main .input input:focus {
  border-color: #4CB649;
}
.page main .input input::-webkit-input-placeholder {
  color: black;
}
.page main .input input::-moz-placeholder {
  color: black;
}
.page main .input input:-ms-input-placeholder {
  color: black;
}
.page main .input input::-ms-input-placeholder {
  color: black;
}
.page main .input input::placeholder {
  color: black;
}

aside .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1250px) {
  aside .input {
    display: none;
  }
}

.input {
  display: none;
}
@media (max-width: 1250px) {
  .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
  }
  .input input {
    width: 100%;
  }
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Robotolight.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Robotobold.ttf");
}
.rate {
  background: -o-linear-gradient(45deg, #3d4251 0%, #272b35 100%);
  background: linear-gradient(45deg, #3d4251 0%, #272b35 100%);
  width: 100%;
  padding: 55px 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
  overflow: hidden;
  margin: auto;
}
@media (max-width: 400px) {
  .rate {
    padding: 40px 30px;
  }
}
.rate h3 {
  margin-top: 55px;
  color: white;
  font-family: "Roboto-Light";
  font-size: 48px;
  text-align: center;
}
@media (max-width: 400px) {
  .rate h3 {
    font-size: 32px;
    margin-top: 20px;
  }
}
.rate__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 18px;
}
.rate__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 380px;
  max-height: 340px;
  background-color: white;
  border-radius: 6px;
  padding: 55px 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 400px) {
  .rate__li {
    max-width: 315px;
    max-height: 340px;
    padding: 42px 55px;
  }
}
.rate__li:hover a {
  background-color: #323642;
  color: white;
  border-color: white;
}
.rate__li:nth-child(2) {
  max-height: 380px;
  border: 4px solid #4CB649;
}
@media (max-width: 400px) {
  .rate__li:nth-child(2) {
    border-color: #FF8D00;
  }
}
.rate__li:nth-child(2):hover {
  border-color: white;
}
.rate__li:nth-child(2):hover a {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.rate__li:nth-child(2) a {
  color: white;
  background: #4db94a;
  background: -webkit-gradient(linear, left bottom, left top, from(#4db94a), to(#5ddf5a));
  background: -o-linear-gradient(bottom, #4db94a 0%, #5ddf5a 100%);
  background: linear-gradient(0deg, #4db94a 0%, #5ddf5a 100%);
  border: none;
}
@media (max-width: 400px) {
  .rate__li:nth-child(2) a {
    background: #ffa400;
    background: -webkit-gradient(linear, left bottom, left top, from(#ffa400), to(#ff8d00));
    background: -o-linear-gradient(bottom, #ffa400 0%, #ff8d00 100%);
    background: linear-gradient(0deg, #ffa400 0%, #ff8d00 100%);
  }
}
.rate__li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  border: 1px solid #4CB649;
  background-color: white;
  font-family: "Roboto-Medium";
  font-size: 14px;
  text-transform: uppercase;
  color: #4CB649;
  min-height: 40px;
  min-width: 205px;
  margin-top: 15px;
}
.rate__li p {
  color: #323642;
  font-family: "Roboto-Regular";
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.rate__li p .late {
  color: #F24458;
  font-family: "Roboto-Regular";
  font-size: 14px;
  text-decoration: line-through;
}
.rate__li .save {
  position: relative;
}
.rate__li .save.two-years::after {
  content: "Save 58%*";
  font-family: "Roboto-Bold";
  font-size: 14px;
  color: #22252e;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  bottom: -25px;
}
.rate__li .save.year::after {
  content: "Save 52%*";
  font-family: "Roboto-Bold";
  font-size: 14px;
  color: #22252e;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  bottom: -25px;
}
.rate__li .price {
  color: #22252e;
  font-family: "Roboto-Light";
  font-size: 56px;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #EBECED;
}
.rate__li .price::before {
  content: "$";
  font-family: "Roboto-Light";
  font-size: 24px;
  color: #22252e;
  position: absolute;
  top: 0;
  left: -15px;
}
.rate__li .price::after {
  content: "/mo.";
  font-family: "Roboto-Light";
  font-size: 24px;
  color: #22252e;
}
.rate__li .time {
  font-family: "Roboto-Medium";
  text-transform: uppercase;
  color: #22252e;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rate__li .time::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #4CB649;
  display: block;
  margin-top: 10px;
}
.rate__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 400px) {
  .rate__info {
    row-gap: 40px;
  }
}
.rate__ways-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 25px;
}
.rate__ways-pay span {
  font-family: "Roboto-Light";
  font-size: 18px;
  color: white;
}
@media (max-width: 400px) {
  .rate__ways-pay span:first-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}
.rate__ways-pay .cube {
  width: 100px;
  height: 100px;
  background-color: #889099;
}
.rate__ways-pay .rectangle {
  width: 120px;
  height: 23px;
  background-color: #889099;
}
.rate__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (max-width: 400px) {
  .rate__a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 35px;
  }
}
.rate__a a {
  font-size: 14px;
  font-family: "Roboto-Medium";
  color: #4CB649;
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rate__a a::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -10px;
  background-color: #4CB649;
  height: 1px;
  opacity: 0;
}
.rate__a a:hover::before {
  opacity: 1;
}
.rate__a a::after {
  content: url("../../images/arrow.svg");
  display: inline-block;
  -webkit-transform: rotateZ(90deg);
      -ms-transform: rotate(90deg);
          transform: rotateZ(90deg);
  position: absolute;
  right: -18px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  background-color: white;
  padding: 72px 12.5%;
  max-width: 1600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 73px;
  overflow: hidden;
}
@media (max-width: 600px) {
  .footer {
    padding: 50px 20px;
    row-gap: 43px;
  }
}
.footer .logo:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 44px;
}
.footer__content nav {
  height: 322px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1200px) {
  .footer__content nav {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-width: 600px) {
  .footer__content nav {
    height: 500px;
    -webkit-column-gap: 36px;
       -moz-column-gap: 36px;
            column-gap: 36px;
  }
}
.footer__content nav .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 600px) {
  .footer__content nav .ul {
    max-width: 50%;
  }
}
.footer__content nav .ul span {
  text-transform: uppercase;
  font-family: "Roboto-Medium";
  color: #22252e;
  font-size: 14px;
}
.footer__content nav .ul a {
  font-family: "Roboto-Regular";
  color: #889099;
  font-size: 14px;
  white-space: pre-line;
}
.footer__content nav .ul a:hover {
  color: #4CB649;
}
.footer__about-and-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 43px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.footer__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 23px;
}
.footer__about .title {
  text-transform: uppercase;
  font-family: "Roboto-Medium";
  color: #22252e;
  font-size: 14px;
}
.footer__about .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
}
@media (max-width: 400px) {
  .footer__about .text {
    row-gap: 26px;
  }
}
.footer__about .text p {
  font-family: "Roboto-Regular";
  color: #889099;
  font-size: 12px;
  white-space: pre-line;
  line-height: 22px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 600px) {
  .footer__social {
    display: none;
  }
}
.footer__social .title {
  text-transform: uppercase;
  font-family: "Roboto-Bold";
  color: #22252e;
  font-size: 14px;
}
.footer__social-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 28px;
     -moz-column-gap: 28px;
          column-gap: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social-ul a:hover path:first-child {
  fill: #4CB649;
}
nav .footer__social {
  display: none;
}
@media (max-width: 600px) {
  nav .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  nav .footer__social-ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 25px;
  }
}

.toggle-menu {
  position: absolute;
  width: 100vw;
  height: 0vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: matrix(1, 0, 0, 0, 0, 0);
      -ms-transform: matrix(1, 0, 0, 0, 0, 0);
          transform: matrix(1, 0, 0, 0, 0, 0);
}
.toggle-menu.active {
  height: 100vh;
  opacity: 1;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}
.toggle-menu .exit {
  width: 15vw;
  height: 15vw;
  position: absolute;
  background-color: white;
  padding: 4vw;
  border-radius: 50%;
  fill: #4CB649;
  right: 5vw;
  top: 5vw;
  cursor: pointer;
}
.toggle-menu .exit:hover {
  fill: #323642;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.toggle-menu__container {
  width: 90vw;
  background-color: white;
  border-radius: 12px 12px 0 0;
  position: absolute;
  bottom: 0;
  row-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  max-height: 60vh;
  overflow: scroll;
}
.toggle-menu__container a {
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  font-size: 14px;
  min-width: 70vw;
  font-family: "Roboto-Regular";
  color: #4CB649;
  border: 1px solid #4CB649;
  text-align: center;
  background-color: white;
  text-transform: uppercase;
}
.toggle-menu__container a:hover {
  color: white;
  background-color: #4CB649;
  border-color: white;
}
.toggle-menu__container a.command {
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  font-size: 14px;
  min-width: 50vw;
  font-family: "Roboto-Regular";
  color: white;
  border: 1px solid white;
  text-align: center;
  background-color: #4CB649;
}
.toggle-menu__container a.command:hover {
  background-color: white;
  color: #4CB649;
  border-color: #4CB649;
}

@-webkit-keyframes case {
  0% {
    -webkit-transform: scale(1.01) rotate(0deg);
    transform: scale(1.01) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1.4) rotate(5deg);
    transform: scale(1.4) rotate(5deg);
  }
}
@keyframes case {
  0% {
    -webkit-transform: scale(1.01) rotate(0deg);
    transform: scale(1.01) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1.4) rotate(5deg);
    transform: scale(1.4) rotate(5deg);
  }
}
.top-info.active {
  min-height: 40px;
  max-height: 100px;
  opacity: 1;
}
@media (max-width: 700px) {
  .top-info.active {
    padding: 10px 35px;
  }
}
@media (max-width: 400px) {
  .top-info.active {
    padding: 10px 20px;
  }
}

.top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 0;
  overflow: hidden;
  background-color: #22252E;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}
@media (max-width: 400px) {
  .top-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.top-info .top-info__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 400px) {
  .top-info .top-info__left {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.top-info span {
  color: #889099;
  font-family: "Roboto-Regular";
  font-size: 12px;
}
.top-info a {
  color: white;
  font-family: "Roboto-Regular";
  font-size: 12px;
}
@media (max-width: 400px) {
  .top-info a {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.top-info__orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
@media (max-width: 400px) {
  .top-info__orange {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
}
.top-info__orange span {
  color: #ff8d00;
  font-family: "Roboto-Bold";
}
.top-info__exit {
  position: absolute;
  right: 16px;
  cursor: pointer;
  fill: #889099;
}
@media (max-width: 700px) {
  .top-info__exit {
    position: static;
    padding: 5px 0px 0 10px;
  }
}
.top-info__exit:hover {
  fill: #ffffff;
}

body {
  position: relative;
}
body.overflow {
  overflow-y: hidden;
}